export(
	read.abfreq,
	read.acgt,
	gc.norm,
	gc.sample.stats,
	window.values,
	get.ci,
	mut.fractions,
	mutation.table,
	find.breaks,
    segment.breaks,
	mufreq.dbinom,
	mufreq.dpois,
	baf.dbinom,
	baf.dpois,
	depth.ratio.dbinom,
	depth.ratio.dpois,
	mufreq.bayes,
	baf.bayes,
	mufreq.model.fit,
	baf.model.fit,
	cp.plot,
	plot.windows,
	mutation.colors,
	chromosome.view,
	lapply_pb,
	round2.max,
	theoric.depth.ratio,
	theoric.mufreq,
	types.matrix,
	model.points,
	theoric.baf
)


