export(
	read.abfreq,
	read.acgt,
	gc.norm,
	gc.sample.stats,
	windowValues,
	get.ci,
	mut.fractions,
	mutation.table,
	find.breaks,
   segment.breaks,
	mufreq.dbinom,
	mufreq.dpois,
	baf.dbinom,
	baf.dpois,
	depth.ratio.dbinom,
	depth.ratio.dpois,
	mufreq.bayes,
	baf.bayes,
	mufreq.model.fit,
	baf.model.fit,
	cp.plot,
	plotWindows,
	chromosome.view,
	mclapplyPb,
	theoric.depth.ratio,
	theoric.mufreq,
	types.matrix,
	model.points,
	theoric.baf
)


